.tasks_list{
  
  .result_tarefa{
    align-items: center;
    gap: 1rem;
    display: flex;
  }
  h4{
    color: var(--gray-500);
    font: var(--subtitle);
  }
  span{
    font: var(--tag,) var(--font-family) ;
    width: 24px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  #tarefa_criada{
    margin-right: auto;
    color: var(--purple-dark);
    background-color: var(--purple-light);
  }
  #tarefa_concluida{
    color: var(--green-dark);
    background-color: var(--green-light);
  }
}